.navBar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  font-size: 1.5rem;
  align-items: center;
}

.navBar a:link,
.navBar a:visited,
.navBar a:hover,
.navBar a:active {
  text-decoration: none;
  box-shadow: none;
}

.homeIcon {
  padding-left: 0;
  font-size: 2em;
  font-family: Arial, sans-serif;
}

.links {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: sans-serif;
  text-align: end;
}

@media screen and (max-width: 500px) {
  .sideIcon {
    display: none;
  }
}
