.header {
  background: #7ac196;
}

.header a {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: minmax(1em, auto) [content-start] minmax(auto, 600px) [content-end] minmax(
      1em,
      auto
    );
}

.grid > * {
  grid-column: content-start / content-end;
}

.copyright {
  text-align: center;
  padding-top: 2rem;
}
