.layout {
  display: grid;
  grid-template-columns:
    minmax(0, auto) [column-start]
    minmax(auto, 1200px) [column-end]
    minmax(0, auto);
  grid-template-rows: 50px auto 100px;
}

.layout * {
  grid-column: column-start / column-end;
}

.grid {
  display: grid;
  grid-template-columns:
    minmax(2em, auto) [content-start]
    minmax(auto, 800px) [content-end]
    minmax(2em, auto);
}

.grid > * {
  grid-column: content-start / content-end;
}

.layout main {
  padding-top: 2rem;
}

.header {
  background-color: black;
}

.header:before,
.header:after {
  content: '';
  background-color: black;
}

.copyright {
  text-align: center;
  padding-top: 2rem;
}
