.home-page {
  display: flex;
  flex-direction: column;
}

.profile-pic-container {
  order: 4;
  margin: 0 auto;
}

.profile-pic {
  border-radius: 50%;
  border: 1em solid white;
  max-width: 300px;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .home-page {
    display: block;
  }

  .profile-pic-container {
    float: right;
    margin: 0;
  }
}
