.home-page {
  display: flex;
  flex-direction: column;
}

.home-page p {
  font-size: 2rem;
  line-height: 1.3;
}

.profile-pic {
  order: 4;
  border-radius: 50%;
  border: 1em solid white;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  .home-page {
    display: block;
  }

  .profile-pic {
    float: right;
    margin: 0;
  }
}
