.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-family: Oswald;
  justify-content: center;
}

.link {
  border-bottom: none; /* to counteract the global style */
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

.name {
  margin-bottom: 10px;
}
