.navBar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.navBar a:link,
.navBar a:visited,
.navBar a:hover,
.navBar a:active {
  text-decoration: none;
  box-shadow: none;
  margin-right: 1rem;
}
