.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.navBar a:link,
.navBar a:visited,
.navBar a:hover,
.navBar a:active {
  color: white;
  text-decoration: none;
}

.externalLinks a {
  margin-left: 1rem;
}
