.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d86a2;
  color: white;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  font-size: 1.2em;
}

.link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

.link:first-of-type {
  margin-right: 2em;
}
