@import url('https://fonts.googleapis.com/css?family=Oswald:200');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {font-size: 3.5rem;}
h2 {font-size: 2rem;}
h3, h4, h5, h6 {font-size: 1.5rem;}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

a {
  color: #0d86a2;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px dashed #0d86a2;
}
