@import url('https://fonts.googleapis.com/css?family=Oswald:200');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2em;}
h3, h4, h5, h6 {font-size: 1.5em;}

p {margin-bottom: 1em;}
