.layout {
  display: grid;
  grid-template-columns: minmax(0, auto) [column-start] minmax(auto, 1180px) [column-end] minmax(0, auto);
  grid-template-rows: 220px 60px auto 100px;
  min-height: 100vh;
}

.layout > * {
  grid-column: column-start / column-end;
}

.mainContent {
  padding-top: 3em;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: minmax(2em, auto) [content-start] minmax(auto, 800px) [content-end] minmax(2em, auto);
  background-color: #ffffff;
}

.mainContent > * {
  grid-column: content-start / content-end
}
