.layout {
  background-image: linear-gradient(90deg, #912891, #d57d86);
  display: grid;
  grid-template-columns: minmax(0, auto) [column-start] minmax(auto, 1180px) [column-end] minmax(0, auto);
  grid-template-rows: 220px 72px auto 100px;
  min-height: 100vh;
}

.layout > * {
  grid-column: column-start / column-end;
}

.mainContent {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: minmax(2em, auto) [content-start] minmax(auto, 800px) [content-end] minmax(2em, auto);
  padding-bottom: 3em;
  padding-top: 3em;
}

.mainContent > * {
  grid-column: content-start / content-end
}

.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-family: Oswald;
  justify-content: center;
}

.header .link {
  border-bottom: none; /* to counteract the global style */
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

.name {
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.nav .link,
.nav .linkSelected {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px dashed transparent;
  margin-right: 2em;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: border-bottom 0.2s;
}

.nav .linkSelected {
  border-bottom: 3px dashed white;
}

.nav .link:last-of-type,
.nav .linkSelected:last-of-type {
  margin-right: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #999999;
}
