.profilePic {
  max-width: 200px;
  clip-path: circle(50%);
  margin: 20px 20px 20px 0;
  float: left;
}

.header {
  margin-bottom: 1rem;
}

.header small {
  color: #777;
}

.socialIcons a {
  box-shadow: none;
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

.body {
  margin-top: 1rem;
}
